body,
.dark-theme,
html {
    background-color: transparent !important;
    background: transparent !important;
}

@keyframes rotate-shadow {
    0% {
        box-shadow: 0 0 40px #00c8ff, 0 0 40px #df01f8, -10px -10px 40px #00c8ff, 10px 10px 40px #df01f8;
    }
    25% {
        box-shadow: -10px 10px 40px #00c8ff, 10px -10px 40px #df01f8;
    }
    50% {
        box-shadow: 10px 10px 40px #df01f8, -10px -10px 40px #00c8ff;
    }
    75% {
        box-shadow: 10px -10px 40px #df01f8, -10px 10px 40px #00c8ff;
    }
    100% {
        box-shadow: 0 0 40px #00c8ff, 0 0 40px #df01f8, -10px -10px 40px #00c8ff, 10px 10px 40px #df01f8;
    }
}
